/** 项目主色调 **/
/* 吉明亮碾米机主色 */
/* 光健桑拿房主色 */
/* @baseColor: #f7d052; */
/* 四川碾米机主色 */
/* @baseColor: #92c858; */
.cmain {
  color: #4b98f8;
}
.bmain {
  background: #4b98f8;
}
.mainBorder {
  border: solid 1px #4b98f8;
}
.bcross {
  background: linear-gradient(to right, #ff6262, #fea156);
}
/** 字体颜色 **/
.cred {
  color: #f00;
}
.cmoney {
  color: #fb7c39;
}
.cfff {
  color: #fff;
}
.ceee {
  color: #eee;
}
.cddd {
  color: #ddd;
}
.cccc {
  color: #ccc;
}
.cbbb {
  color: #bbb;
}
.c999 {
  color: #999;
}
.c666 {
  color: #666;
}
.c333 {
  color: #333;
}
.c000 {
  color: #000;
}
/** 背景颜色 **/
.bfff {
  background: #fff;
}
.beee {
  background: #eee;
}
.bddd {
  background: #ddd;
}
.bccc {
  background: #ccc;
}
.bbbb {
  background: #bbb;
}
.b999 {
  background: #999;
}
.b666 {
  background: #666;
}
.b333 {
  background: #333;
}
.b000 {
  background: #000;
}
